<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" />
    <link rel="stylesheet" href="@Assets["_content/Detrav.Blazor.Shared/app.css"]" />
    <link rel="stylesheet" href="@Assets["Detrav.Blazor.Web.styles.css"]" />
    <link rel="icon" type="image/x-icon" href="_content/Detrav.Blazor.Shared/favicon.ico" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
